<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="/uploads/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/css/style.css">
    </head>
    </head>
    <body>
        <%- include partials/navbar.ejs%>
        
        <div class="col-md-12">
            <form action="/results" method="post">
                <div class="form-group ad-30" style="margin-top:8px;">
                    <div class="input-group search-style">
                        <input class="form-control new-search-bar"  name="country" id="search" placeholder="Enter Your Club Name" type="text">
                        <span class="input-group-btn">
                            <button class="btn input-btn" type="" id="search-form">Search</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="col-md-12">
            <input type="hidden" id="name-user" value="<%= user.username %>">
            <input type="hidden" id="name-image" value="<%= user.userImage %>">
            <div class="">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                           <div class="col-md-12">
                               <div class="filter-container">
                                   <div class="card">
                                       <form action="/results" method="post">
                                           <div class="content">
                                               <p class="filter">
                                                   FILTER
                                               </p>
                                               <hr />
                                               <select class="form-control" name="country">
                                                   <option value="">Filter By Country</option>
                                                   <% _.forEach(country, function(value) {  %>
                                                       <option value="<%= value._id %>"><%= value._id %></option>
                                                   <% }) %>
                                               </select>
                                               <div class="clearfix"></div>
                                               <button class="btn add-apply">Apply</button>
                                           </div>
                                       </form>
                                   </div>
                               </div>
                           </div>         
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div>
                            <% _.forEach(chunks, function(val) { %>
                                <div class="category-list">
                                    <div class="row">
                                        <% _.forEach(val, function(val2) { %>
                                            <form  action="/home" method="post" id="favorite">
                                                <div class="item col-md-4">
                                                    <a style="text-decoration:none" href="/group/<%= val2.name.replace(/ /g, "-") %>">
                                                        <div class="thumbnail">
                                                            <img src="" alt="">
                                                            <div class="caption">
                                                                <h4>
                                                                    <%= val2.name %> (<%= val2.fans.length %>)
                                                                </h4>
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-md-6">
                                                                        <p>
                                                                            <%= val2.country %>    
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </form>
                                        <% }) %>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"  crossorigin="anonymous"></script> 
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/messagelink.js"></script>
    <script src="/js/group/sendrequest.js"></script> 
    <script src="/js/home.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/deparam.js"></script>
</html>