<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="/uploads/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/css/style.css">    
        <link rel="stylesheet" href="/css/profile.css">
    </head>
    <body>
        <%- include ../partials/navbar.ejs %>
        <div class="col-md-12 mob-clearfix margin-80">
            <input type="hidden" id="name-user" value="<%= user.username %>">
            <input type="hidden" id="name-image" value="<%= user.userImage %>">
            <div class="col-md-12">
                <div class="chat_container">
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="profile-sidebar">
                                        <div class="img-container">
                                            <img src="" class="img-responsive img-user" id="show_img">
                                        </div>
                                        <div class="profile-usertitle">
                                            <div class="profile-usertitle-name">
                                                <%= data.fullname %>
                                            </div>
                                            <div class="profile-usertitle-job">
                                                <%= data.username %>
                                            </div>
                                        </div>
                                        <div class="profile-usermenu">
                                            <ul class="nav">
                                                <li>
                                                    <a href="/profile/<%= data.username %>" style="color:#4aa1f3 !important">
                                                        <i class="fa fa-home" style="color:#4aa1f3 !important"></i>
                                                        Overview
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        
                        <!--MIDDLE-->
                        <div class="col-sm-8 col-md-9 mob-50">
                            <span id="error"></span>
                            <form action="/settings/interests" method="post">
                                <div>
                                    <div>
                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"  crossorigin="anonymous"></script> 
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/messagelink.js"></script>
    <script src="/js/group/sendrequest.js"></script> 
    <script src="/js/global.js"></script>
    <script src="/js/deparam.js"></script>
</html>