<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="/uploads/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/css/style.css">        
    </head>
    <body>
        <%- include ../partials/navbar.ejs %>
        <div class="col-md-12">
            <input type="hidden" id="name-user" value="<%= user.username %>">
            <input type="hidden" id="name-image" value="<%= user.userImage %>">
            <div class="col-md-12">
                <div class="chat_container">
                    <div class="row">
                        <div class="col-sm-4 col-md-3 mob-clearfix">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-container">
                                        <div class="card">
                                            <div class="front">
                                                <div class="cover"></div>
                                                <div class="user cover-img">
                                                    <img src="" class="img-circle" alt="">
                                                </div>
                                                <div class="content">
                                                    <div class="main">
                                                        <h3 class="name"><%= _.upperFirst(user.username) %></h3>
                                                        <p class="profession-online">
                                                            <i class="fa fa-circle online" aria-hidden="true"></i>
                                                            Online
                                                        </p>
                                                        <p class="text-center">
                                                            Mantra
                                                        </p>
                                                    </div>
                                                    <div class="footer">
                                                        <i class="fa fa-mail-forward"></i> 
                                                        <a style="text-decoration:none; color:#4aa1f3" href="/profile/<%= user.username %>">
                                                            View My Profile
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px;">
                                <div class="col-md-12">
                                    <div class="card-container">
                                        <div class="card">
                                            <div class="front">
                                                <div class="container main-scroll">
                                                    <div class="main" id="main_scroll">
                                                        <p class="friends" style="margin-bottom:0px;">
                                                            Online Friends
                                                            <span id="numOfFriends"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>